Body,
h1,
h2,
p,
ul,
li {
    Margin: 0;
    Padding: 0;
}

body {
    background-color: rgb(2, 2, 49);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(20, 20, 85);
}

nav h1 {
    margin: 100px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    color: rgb(209, 209, 221);
    font-size: 1.1rem;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: stretch;

}

.firstsection {

    max-width: 80vw;
    margin: 100px;
    height: 500px;
}

.firstsection h1 {
    font-size: 2rem;

}

.secondsection {
    max-width: 80vw;
    margin: 100px;
    height: 500px;
    font-size: 1.2rem;
}

.fa {
    padding: 2px;
    font-size: 50px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
}


.fa:hover {
    opacity: 0.7;
}




.fa-facebook {
    background: #e5e7ed;
    color: rgb(38, 15, 192);
}


.fa-github {
    background: #fefefadb;
    color: rgb(19, 19, 19);
}

.fa-instagram {

    background: #fefefadb;
    color: rgb(186, 28, 17);
}

.fa-linkedin {
    background: #e5e7ed;
    color: rgb(38, 15, 192);
}

footer {
    Text-align: center;
    Padding: 10px;
    Background-color: #333;
    Color: white;
}


.footer-first {
    font-size: 2rem;
}